<div class="card shadow">
    <div class="card-header">
        <h4>Employee Form</h4>
    </div>
    <div class="card-body row mx-0">
        <div class="form-group col-md-6 col-sm-12 col-12">
            <label for="fname" class="font-weight-bold text-primary">First Name:</label>
            <input type="text" class="form-control" name="fname" id="fname" aria-describedby="fnameId"
                placeholder="Enter Your First Name.." [(ngModel)]="employeeService.currentEmployee.fname">
            <small id="fnameId" class="form-text text-muted d-none">Enter Correct First Name</small>
        </div>
        <div class="form-group col-md-6 col-sm-12 col-12">
            <label for="lname" class="font-weight-bold text-primary">Last Name:</label>
            <input type="text" class="form-control" name="lname" id="lname" aria-describedby="lnameId"
                placeholder="Enter last name" [(ngModel)]="employeeService.currentEmployee.lname">
            <small id="lnameId" class="form-text text-muted d-none">Enter correct last name</small>
        </div>
        <div class="form-group col-md-6 col-sm-12 col-12">
          <label for="designation" class="font-weight-bold text-primary">Designation</label>
          <input type="text"
            class="form-control" name="designation" id="designation" aria-describedby="degn" placeholder="Your Designation" [(ngModel)]="employeeService.currentEmployee.designation">
          <small id="degn" class="form-text text-muted d-none">Mention your Designation</small>
        </div>
       
        <div class="form-group col-md-6 col-sm-12 col-12">
            <label for="branch" class="font-weight-bold text-primary">Branch:</label>
            <input type="text" class="form-control" name="branch" id="branch" aria-describedby="branchId"
                placeholder="Enter Your Branch Name" [(ngModel)]="employeeService.currentEmployee.branch">
            <small id="branchId" class="form-text text-muted d-none">Enter Correct Branch Name</small>
        </div>
        <div class="form-group col-md-6 col-sm-12 col-12 d-none">
            <label for="empno" class="font-weight-bold text-primary">Emp ID:</label>
            <input type="text" class="form-control" name="empno" id="empno" aria-describedby="empnoId"
                placeholder="Enter Emp ID" [(ngModel)]="employeeService.currentEmployee.id">
            <small id="empnoId" class="form-text text-muted d-none">Enter correct last name</small>
        </div>
        <button type="submit" class="btn btn-success d-block mx-auto px-5" (click)="createAndUpdate(employeeService.currentEmployee)"><i class="fa fa-save mr-2"></i> Submit</button>
        <button type="reset" class="btn btn-danger pull-right" (click)="clear()"><i class="fa fa-retweet"></i></button>
    </div>
</div>